body {
  text-align: center;
  background-color: #faf2d3;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cookie {
  width: 17%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.btn-cookie {
  border: none;
  background: #ff7a59;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  cursor: pointer;
}

.btn-cookie:hover {
  color: #ff7a59;
  border: #ff7a59 solid 1px;
  background: #fff;
}
